* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  overflow-x: hidden;
}

ul {
  list-style: none !important;
}


/* about and services */

.banner {
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.banner-overlay {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
}
